<div class="card">
  <div class="card-header">
    <h4>Available Stocks to Buy Now!</h4>
  </div>
  <div class="card-body">
    {% if available_now is empty %}
    <div class="alert alert-warning" role="alert">
      There are no stocks available for purchase.
    </div>
    {% endif %}
    {% if available_now %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Label</th>
          <th scope="col">Company Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity Available</th>
          <th scope="col">Quantity Desired</th>
          <th scope="col">Buy</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in available_now %}
        <form action="buy" method="post">
          <input type="hidden" name="id" value="{{stock.id}}" />
          <input type="hidden" name="stock_id" value="{{stock.stock_id}}" />
          <input type="hidden" name="port_id" value="{{stock.port_id}}" />
          <tr>
            <td>{{ stock.label }}</td>
            <td>{{ stock.company_name }}</td>
            <td>${{ stock.price|number_format(2, '.', ',') }}</td>
            <td>{{ stock.quantity }}</td>
            <td>
              <div class="form-group col-6">
                <input type="text" name="quantity" id="quantity" class="form-control" value="{{ stock.quantity }}" />
              </div>
            </td>
            <td>
              <button class="btn btn-primary">Buy</button>
            </td>
          </tr>
        </form>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
