<div class="card">
  <div class="card-header">
    <h4>Buy order</h4>
  </div>
  <div class="card-body">
    <form action="buy" method="post">
      <div class="form-group">
        <label for="label">Label</label>
        <input type="text" name="label" id="label" class="form-control" />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" name="price" id="price" class="form-control" />
      </div>
      <div class="form-group">
        <label for="label">Quantity</label>
        <input type="text" name="quantity" id="quantity" class="form-control" />
      </div>
      <div class="form-group text-right">
        <a href="/user/profile" class="btn btn-danger">Back</a>
        <button type="submit" class="btn btn-primary">Buy</button>
      </div>
    </form>
  </div>
</form>
