{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      {% include 'stock/partials/available_now.html' %}
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-12">
      {% include 'stock/partials/buy_orders.html' %}
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-6">
      {% include 'stock/partials/stock_purchase_fields.html' %}
    </div>
    <div class="col-6">
      {% include 'stock/partials/all_stocks.html' %}
    </div>
  </div>
</div>
{% endblock %}
