<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">     -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom -->
    <link rel="stylesheet" href="../../styles/application.scss" />    
    <title>      
      {% block title %}
      Stock Trading
      {% endblock %}            
    </title>
    {% endblock %}    
  </head>
  <body>

    {% block nav %}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Stock Trading</a>
        </div>
        <!-- Navbar begin -->
        <ul class="nav navbar-nav">
          <li class="active"><a href="./layout.html">Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Bank Accounts<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href='/bank_accounts'>Index</a></li>
              <li><a href='/bank_account/new'>New</a></li>
              <li><a href='/bank_account/edit/{id}'>Edit</a></li>
              <li><a href='/bank_account/update'>Update</a></li>
              <li><a href='/bank_account/delete/{id}'>Delete</a></li>
              <li><a href='/bank_account/create'>Create</a></li>              
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Stocks<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href='/stocks'>Index</a></li>
              <li><a href='/stocks/to_buy'>To Buy</a></li>
              <li><a href='/stocks/buy'>Buy</a></li>
            </ul>
          </li>
          <!-- Requires Sign In, maybe admin -->
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Users<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href='/user/create_session'>Create Session</a></li>
              <li><a href='/user/create_user'>Create User</a></li>
              <li><a href='/user/profile'>Profile</a></li>
              <li><a href='/user/profile/edit'>Edit</a></li>
              <li><a href='/user/profile/update'>Update</a></li>
            </ul>
          </li>
        </ul>
        <!-- Navbar end -->
        <ul class="nav navbar-nav navbar-right">
          <!-- Take from Users route -->
          <li><a href='/user/register'><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <li><a href='/user/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    {% endblock %}

    <br/>
    <br/>
    <br/>

    {% block content %} 

    {% endblock %}
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
  </body>
</html>
